In [0]:
%sql
CREATE DATABASE sales;

In [0]:
%sql
CREATE OR REPLACE TABLE sales.Orders (
    OrderID INT,
    OrderDate DATE,
    CustomerID INT,
    CustomerName VARCHAR(100),
    CustomerEmail VARCHAR(100),
    ProductID INT,
    ProductName VARCHAR(100),
    ProductCategory VARCHAR(50),
    RegionID INT,
    RegionName VARCHAR(50),
    Country VARCHAR(50),
    Quantity INT,
    UnitPrice DECIMAL(10,2),
    TotalAmount DECIMAL(10,2)
);

In [0]:
%sql
INSERT INTO sales.Orders (OrderID, OrderDate, CustomerID, CustomerName, CustomerEmail, ProductID, ProductName, ProductCategory, RegionID, RegionName, Country, Quantity, UnitPrice, TotalAmount) 
VALUES 
(1, '2024-02-01', 101, 'Alice Johnson', 'alice@example.com', 201, 'Laptop', 'Electronics', 301, 'North America', 'USA', 2, 800.00, 1600.00),
(2, '2024-02-02', 102, 'Bob Smith', 'bob@example.com', 202, 'Smartphone', 'Electronics', 302, 'Europe', 'Germany', 1, 500.00, 500.00),
(3, '2024-02-03', 103, 'Charlie Brown', 'charlie@example.com', 203, 'Tablet', 'Electronics', 303, 'Asia', 'India', 3, 300.00, 900.00),
(4, '2024-02-04', 101, 'Alice Johnson', 'alice@example.com', 204, 'Headphones', 'Accessories', 301, 'North America', 'USA', 1, 150.00, 150.00),
(5, '2024-02-05', 104, 'David Lee', 'david@example.com', 205, 'Gaming Console', 'Electronics', 302, 'Europe', 'France', 1, 400.00, 400.00),
(6, '2024-02-06', 102, 'Bob Smith', 'bob@example.com', 206, 'Smartwatch', 'Electronics', 303, 'Asia', 'China', 2, 200.00, 400.00),
(7, '2024-02-07', 105, 'Eve Adams', 'eve@example.com', 201, 'Laptop', 'Electronics', 301, 'North America', 'Canada', 1, 800.00, 800.00),
(8, '2024-02-08', 106, 'Frank Miller', 'frank@example.com', 207, 'Monitor', 'Accessories', 302, 'Europe', 'Italy', 2, 250.00, 500.00),
(9, '2024-02-09', 107, 'Grace White', 'grace@example.com', 208, 'Keyboard', 'Accessories', 303, 'Asia', 'Japan', 3, 100.00, 300.00),
(10, '2024-02-10', 104, 'David Lee', 'david@example.com', 209, 'Mouse', 'Accessories', 301, 'North America', 'USA', 1, 50.00, 50.00);

In [0]:
%sql
INSERT INTO sales.Orders (OrderID, OrderDate, CustomerID, CustomerName, CustomerEmail, ProductID, ProductName, ProductCategory, RegionID, RegionName, Country, Quantity, UnitPrice, TotalAmount) 
VALUES 
(11, '2024-02-11', 101, 'Alice Johnson', 'alice@example.com', 201, 'Laptop', 'Electronics', 301, 'North America', 'USA', 2, 800.00, 1600.00),
(12, '2024-02-12', 102, 'Bob Smith', 'bob@example.com', 202, 'Smartphone', 'Electronics', 302, 'Europe', 'Germany', 1, 500.00, 500.00),
(13, '2024-02-13', 103, 'Charlie Brown', 'charlie@example.com', 203, 'Tablet', 'Electronics', 303, 'Asia', 'India', 3, 300.00, 900.00),
(14, '2024-02-14', 101, 'Alice Johnson', 'alice@example.com', 204, 'Headphones', 'Accessories', 301, 'North America', 'USA', 1, 150.00, 150.00);

In [0]:
%sql
SELECT * FROM sales.orders;

In [0]:
%sql
CREATE DATABASE IF NOT EXISTS  sales_wh;

In [0]:
%sql
create database IF NOT EXISTS staging;

##staging

In [0]:
%sql
CREATE OR REPLACE TABLE staging.sales_stg
AS
SELECT * FROM sales.orders
WHERE OrderDate > '2024-02-10';

In [0]:
%sql
SELECT * FROM staging.sales_stg;

In [0]:
%sql
CREATE OR REPLACE VIEW hive_metastore.staging.trans_sales AS
SELECT *
FROM hive_metastore.staging.sales_stg
WHERE Quantity IS NOT NULL;

In [0]:
%sql
SELECT * FROM hive_metastore.staging.trans_sales;

##WAREHOUSE

In [0]:
%sql
CREATE TABLE IF NOT EXISTS sales_wh.core_table
AS
SELECT * FROM hive_metastore.staging.trans_sales;

In [0]:
%sql
MERGE INTO hive_metastore.sales_wh.core_table AS tgt
USING hive_metastore.staging.trans_sales AS src
ON tgt.OrderID = src.OrderID
WHEN MATCHED THEN
  DELETE
WHEN NOT MATCHED THEN
  INSERT *;

In [0]:
%sql
SELECT * FROM hive_metastore.sales_wh.core_table;